VITE_SUPABASE_URL=https://htipkyvpitvoohugwhan.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0aXBreXZwaXR2b29odWd3aGFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NDM3ODcsImV4cCI6MjA5NTUxOTc4N30.vNUJ4pgpiF4QTwV0Uf54fzbm3VbFUdPqbZdcn11t4Ik
