VITE_SUPABASE_URL=https://htipkyvpitvoohugwhan.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0aXBreXZwaXR2b29odWd3aGFuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTk0Mzc4NywiZXhwIjoyMDk1NTE5Nzg3fQ.flIhEZ031XKM4ozONnuYqydN4R6Y40z3gNKw9sWxmu0
